h1,
h2,
h3,
h4,
h5 {
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  /* color: #ddd; */
}

b,
strong {
  /* color: #fff; */
}

a {
  /* color: #eee; */
}

html {
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #111111;
}

body {
  /* width: 800px; */
  /* padding: 15px; */
  /* display: flex; */
  /* flex-direction: column; */
  line-height: 1.2em;
}

#columns {
  display: flex;
  /* height: 100vh; */
  min-height: 100vh;
  flex-direction: row;
  background-image: url("/white-crumpled-paper-texture-background.jpg");
  background-repeat: repeat-y;
}

#columns > .holes {
  width: 28px;
  min-height: 100vh;
}

#columns > #paper {
  width: 800px;
  min-height: 100vh;
}

#columns > #paper > #bars {
  padding: 1em;
  min-height: 100vh;
  background: repeating-linear-gradient(
    180deg,
    #d0f0d088 0 3.6em,
    #ffffff88 0 7.2em
  );
}

#content {
  padding: 1em;
  /* background: repeating-linear-gradient( */
  /* 180deg, */
  /* #d0f0d0 0 3.6em, */
  /* #ffffff 0 7.2em */
  /* ); */
}

.holes.right {
  background-image: url("/hole-right.png");
  background-repeat: repeat-y;
}

.holes.left {
  background-image: url("/hole-left.png");
  background-repeat: repeat-y;
}

.site-title {
  font-size: 2.4em;
  margin-bottom: 10px;
  text-align: center;
}

h1.title {
  text-align: center;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.code {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2em;
  line-height: 2.4em;
  margin-bottom: 20px;
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.block {
  border: 1px dotted green;
  padding: 0em 1em;
  margin: 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block h1 {
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0;
}

.small {
  font-size: 0.8em;
}

.wave {
  background: #111;
  color: #fff;
  text-shadow:
    1px 1px 10px #fff,
    1px 1px 10px #ccc;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}
